
<li class="control-group nested-fields">

  <div class="controls">
    <%= f.label "Synonymous Word" %><br>
    <%= f.collection_select(:word_2_id, Word.all, :id, :text, {}, class:'ui floating labeled dropdown button') %>
  </div>

  <br>
  <div class="controls">
    <%= link_to_remove_association "Remover", f, :class => 'small ui button' %>
  </div>

</li>